{
    "extends": ["prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "endOfLine": "auto" // Prettier 규칙은 여기에 설정
            }
        ]
    }
}
